<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
        <title>Kenny Pham</title>
    </head>
    <body>
        <header>
            <div class="container"  id="home">
                <nav class="navbar navbar-expand-md fixed-top">
                <!-- <nav class="navbar navbar-expand-lg pt-4 sticky-top"> -->
                    <a class="navbar-brand scroll" href="#home">Kenny Pham</a>
                    <button class="btn navbar-toggler" data-toggle="collapse" data-target="#navbarItems">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>                
                    </button>                        
                    <div class="collapse navbar-collapse justify-content-end" id="navbarItems">
                        <ul class="navbar-nav text-uppercase">
                            <li class="nav-item active"><a class="nav-link d-inline scroll" href="#about" >about</a></li>                              
                            <li class="nav-item"><a class="nav-link d-inline scroll" href="#toolbox">toolbox</a></li>
                            <li class="nav-item"><a class="nav-link d-inline scroll" href="#projects">projects</a></li>
                            <li class="nav-item"><a class="nav-link d-inline scroll" href="#contact">contact</a></li>
                            <li class="nav-item"><a class="nav-link d-inline scroll" href="#form">collaborate</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    
        <div class="hero">
            <div class="container hero-container">
                <div class="row">
                    <div class="col hero-content mr-4">
                        <h2 id="kenny">My full name is Kenny Pham</h2>
                        <h1 id="hello-world" class="display-4 heading">I'm a full stack Software Developer</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col hero-content text-center mr-4 mt-2">
                        <a class="btn btn-sm btn-projects" href="../../static/portfolio1/img/projects/kpham_resume.pdf" target="_blank">Resume</i></a>                 
                    </div>
                </div>
            </div>
        </div>
    

        <section id="about">
            <div class="container about">
                <div class="row">
                    <div class="col-sm-12 col-md-7 about-content">
                        <h1><u>About Me</u> <i class="fas fa-user-tie"></i></h1>
                        <p>I have been curious and interested to learn about the domain of the tech industry in software development. Not only did I want to bridge the gap of the unknown, but took initiative to be identified as a person who is part of it. Over 1000 plus hours of experience from a coding bootcamp, (<strong><a href="https://www.codingdojo.com/" target="_blank">Coding Dojo</a></strong>) I am now a full-stack developer. I'm excited to apply my new-founded coding skills (<a href="https://github.com/kenchose" target="_blank">My GitHub</a>) to my future software development career.</p>
                    </div>
                    <div class="col-sm-12 col-md-5 text-center pic-me">
                        <img src="../../static/portfolio1/img/me2.png" alt="Kenny Pham">
                    </div>
                </div>
            </div>
        </section>
        

        <section  id="toolbox"> 
            <div class="container-fluid">
                <div class="toolbox">
                    <h1><u>technical <i class="fas fa-toolbox"></i> toolbox</u></h1>
                    <p class="pt-2">Apart from learning the basics of web fundementals regarding HTML5, CSS3, JavaScript, and JQuery, these are the three full stacks I've learned (so far):</p>
                    <div class="row logo">
                        <div class="col-lg-4 col-sm-12 skill-logo">
                            <img src="../../static/portfolio1/img/logos/python.png" alt="python logo" class="language-item python">
                            <h4 class="font-weight-bold text-center pt-3">Python</h4>
                            <p class="pt-4 pb-5 text-center"> Python was the first stack I adopted during my time at the Coding Dojo. From this, I was introduced to <span>object-oriented programming</span> and its concepts making your code more organized and modular. After being introduced to the architectual frameworks, I further on equiped and built my knowledge using <span>Flask and Django</span>. I was finally able to create my own applications by using <span>MySQLWorkbench</span>, writing SQL queries, and able to deploy them on <span>AWS</span> .</p>
                        </div>
                        <div class="col-lg-4 col-sm-12 skill-logo">
                            <img src="../../static/portfolio1/img/logos/rails.png" alt="ruby logo" class="language-item ruby">
                            <h4 class="font-weight-bold text-center pt-3">Ruby on Rails</h4>
                            <p class="pt-4 pb-5 text-center">After experiencing the process of learning a full stack, it quickly minimized the difficulty in learning my next stack, Ruby on Rails. I fine-tuned writing queries using <span>Active Record</span> to take care of my database and understood the advantages for building quick prototypes. In my journey using the pure object-oriented language, I learned using <span>RSpec and Capybara</span>. Lastly, I learned how to deploy my projects with <span>PostreSQL</span> .</p> 
                        </div>
                        <div class="col-lg-4 col-sm-12 skill-logo">
                            <img src="../../static/portfolio1/img/logos/mean.jpg" alt="mean logo" class="language-item mean">
                            <h4 class="font-weight-bold text-center pt-3">MEAN</h4>
                            <p class="pt-4 pb-5 text-center">Finally, the last thing I learned at the Dojo was the MEAN (MongoDB, Express, Angular and Node) stack. I got the chance to experience working with the database using <span>MongoDB</span>, node framework with <span>Express</span>, javascript/typescript framework through <span>Angular</span>, and lastly with <span>Node</span>. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    

        <section id="projects">
            <div class="container projects">
                <div class="row">
                    <div class="project-content col text-center">
                        <h1><i class="fas fa-code"></i> Recent Projects</h1>
                    </div>
                    <div class="row">
                        <div id="project-1" class="project-showcase col-lg-4 project">
                            <img id="dashboard" src="../../static/portfolio1/img/projects/user_dashboard/index.png" alt="user dashboard project">
                            <div class="text-content">
                                <a target="_blank" href="/project1"><i class="fas fa-camera-retro fa-2x"></i></a>
                            </div>
                            <p class="text-center font-weight-bold"><a href="https://github.com/kenchose/django-adminUserDashboard" target="_blank">Admin</a></p>
                        </div>
                        <div id="project-2" class="project-showcase  col-lg-4 project">
                            <img id="belp" src="../static/portfolio1/img/projects/user_review/reg-img.png" alt="user book review project">
                            <div class="text-content">
                                <a target="_blank" href="/project2"><i class="fas fa-camera-retro fa-2x"></i></a>
                            </div>
                            <p class="text-center font-weight-bold"><a href="https://github.com/kenchose/django-book_review" target="_blank">Belp</a></p>
                        </div>
                        <div id="project-3" class="project-showcase  col-lg-4 project">
                            <img id="belp" src="../static/portfolio1/img/projects/user_event/event-sign-up.png" alt="user book review project">
                            <div class="text-content">
                                <a target="_blank" href="/project3"><i class="fas fa-camera-retro fa-2x"></i></a>
                            </div>
                            <p class="text-center font-weight-bold"><a href="https://github.com/kenchose/ror-events_port" target="_blank">Hoppier</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="contact"> 
            <div class="fixed-bg-contact">
                <div class="container">
                    <div class="contact">
                        <div class="text-center">
                            <i class="fas fa-phone fa-2x phone"></i>
                        </div>   
                        <div class="row">
                            <div class="col text-center text-uppercase">
                                <h1 id="letstalk"><span>Get <kbd class="letsTalk">social!</kbd></span></h1>
                            </div>
                        </div>
                        <p class="contact-content text-center">If you are looking to hire, wanting to know more about my work, or have any questions please don't hesitate to ask. Connect with me through any of the platforms or <!--my <span>GitHub</span>, <span>LinkedIn</span>, <span>Google+</span>, or <span>email</span> me directly. You may also--> fill out the form below if you would like! Let's build something together!</p>
                        <div class="row pt-5 text-center pb-4 mt-5">
                            <div class="col-sm-3 mb-3 mb-md-0">
                                <a href="https://github.com/kenchose" data-tool-tip="Look through my GitHub" target="_blank"><i id="github" class="fab fa-github fa-3x"></i></a> 
                            </div>
                            <div class="col-sm-3 mb-3 mb-md-0">
                                <a href="https://www.linkedin.com/in/kenny-pham-2a5740101" data-tool-tip="Connect via LinkedIn" target="_blank"><i id="linkedin" class="fab fa-linkedin fa-3x"></i></a> 
                            </div>   
                            <div class="col-sm-3 mb-3 mb-md-0">
                                <a href="https://plus.google.com/102171157736394833040" data-tool-tip="Find me on G+" target="_blank"><i id="google" class="fab fa-google-plus fa-3x"></i></a>
                            </div>       
                            <div class="col-sm-3 mb-3 mb-md-0">
                                <a href="mailto:kennypm42@gmail.com" data-tool-tip="Shoot me an email" target="_blank"><i id="email" class="fas fa-envelope fa-3x"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section id="form"> 
            <div class="container form pt-5 pb-5 mb-lg-0">
                <h1 id="getintouch"><u>Let's Talk</u></h1>
                <div class="row">
                    <div class="col submit">
                        {% if messages %}
                            {% for message in messages %}
                                <ul>
                                    <h3><li class="error">{{ message }}</li></h3>
                                </ul>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form action="/process" method="post" class="form">
                        {% csrf_token %}
                            <div class="row">
                                <p><span class="requirement">*</span> Required information</p>
                                <div class="col-sm-12">
                                    <div class="form-group mt-2">
                                        <label for="first_name"><span class="requirement">*</span> First name</label>
                                        <input type="text" name="first_name" id="first_name" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mt-4">
                                        <label for="last_name"><span class="requirement">*</span> Last name</label>
                                        <input type="text" name="last_name" id="last_name" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mt-4">
                                    <div class="form-group">
                                        <label for="company">Company / Organization</label>
                                        <input type="text" name="company" id="companyName" class="form-control" placeholder="(optional)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mt-4">
                                    <div class="form-group">
                                        <label for="description"><span class="requirement">*</span> Quick description of what you would like to discuss about.</label>
                                        <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row pt-4">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="form-group">
                                            <label for="email"><span class="requirement">*</span> Email Address</label>
                                            <input type="email" name="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button id="submit" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </section>
        

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="ml-5 pt-2 float-right">Made By Kenny Pham</p> 
                        <!-- <p class="text-center pt-2"><i class="fa fa-copyright mr-3">2018 Kenny Pham</i><button class="btn btn-primary"><a href="../../static/portfolio1/img/projects/software-resume.pdf" target="_blank"><i class="fa fa-download text-white" alt="my resume"> Resume</i></a></button></p>                      -->
                    </div>
                </div>
            </div>
        </footer>


        <script type="text/javascript" src="static/js/main.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> <!--BOOTSTRAP -->  
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
    </body>
</html>

        <!-- PORTFOLIO MODAL -->
        <!-- PORTFOLIO 1 MODAL -->
        <!-- <div id="project1" class="portfolio-modal modal fade in" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog mw-100 m-0">
                <div class="modal-content">
                    <div class="close-modal m-0" data-dismiss="modal">
                        <button type="button" class="close" data-dismiss="modal" >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="project1-container" class="container"> container fluid
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-2">
                                <div class="modal-body">
                                    <h2><a>User Dahboaraf.kelfja;elfjknr'e;aflknear;lfner;fld</a></h2>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis inventore incidunt cumque dolores sit sed, autem hic at porro soluta veniam debitis aspernatur molestiae odit iusto vitae quisquam sint esse sapiente placeat eos beatae officiis nisi voluptas. Esse molestias quia ullam hic officiis veritatis sapiente nam, dignissimos praesentium? Molestias laudantium magni iure? Vel commodi repellat ipsa pariatur culpa ipsum blanditiis officia animi, aperiam omnis reiciendis, at porro nobis tempore voluptatibus maiores aspernatur nemo facilis ratione quos in! Explicabo omnis tempore id. Libero dolor ad numquam nihil fuga culpa architecto id.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLongTitle" style="display:block; ">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                                <div class="modal-body">
                                    <h2><a href="">User Dahboard</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
