#form {
    background-color: #f0f0f0;
}

.requirement {
    color: red;
}

.form {
    textarea {
        border-radius: 15px;
    }

    input {
        background-color: #f0f0f0;
        border: none;
        border-radius: 0;
        border-bottom: solid $secondaryText;
        border-radius: 2px;
    }

    button {
        background-color: $primaryBtn;
    }
}

input:focus {
    outline: none !important;
}