// M A S T E R//////////////////////////////////////////add media queries for better responsiveness views
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }



@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto+Slab|Aleo:700i|Aleo|Old+Standard+TT');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$colors: (button: rgb(168, 0, 0),
    i: rgb(168, 0, 0));

body,
html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}


p {
    line-height: 1.6;
    font-size: 1.1em;
}

img {
    height: auto;
    max-width: 100%;
}

.section-header {
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.appear {
    opacity: 1;
}


.from-left {
    transform: translateX(-50%)
}

.from-right {
    transform: translateX(50%)
}

.from-left,
.from-right {
    transition:
        opacity 250ms ease-in,
        transform 800ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

//      HEADER      //


.nav-scroll {
    width: 100%;
    background-color: transparent;

    #brand {
        max-width: 55px;
        max-height: 55px;
        transition: max-width .5s;
    }
}

.nav-scrolled {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    background-color: #11151C;

    #brand {
        max-width: 38px;
        max-height: 55px;
        transition: max-width .5s;
    }
}

//      HEADER      //

li.nav-item {
    line-height: 2rem;
}

.nav-link {
    color: green;

    &:hover {
        color: map-get($colors, button);
    }
}

.navbar-brand:hover {
    color: map-get($colors, button);
}

.navbar-toggler span {
    color: green;
    border: 0;
}

ul.navbar-nav {
    float: right;
}

//          HEADER          //

//          HERO            //


.hero {
    background: linear-gradient(white, rgba(0, 0, 0, 0.15)), url("/static/img/backgrounds/white-notes-copy.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat Alternates', sans-serif;

    .btn-projects {
        background-color: green;
        ;
        border: transparent;
        margin-top: 1em;
        padding: 1em;
        color: white;
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;

        @media (max-width: 480px) {
            visibility: hidden;
        }
    }

    .btn:hover {
        background-color: rgb(168, 0, 0);
    }
}

.hero-content {
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;

    .heading {
        color: map-get($colors, button);
        font-weight: bolder;
    }

    h1 {
        margin: 30px 0 55px;
        font-weight: bolder;
    }

    h2 {
        @media (max-width:480px) {
            margin-top: 10em;
        }

        @media (max-width:768px) and (min-width: 480px) {
            margin-top: 6em;
        }
    }
}

#kenny {
    font-weight: bolder;
    font-size: 2.2rem;
}

//////////                                        //      HERO        //


// //                                         //      ABOUT       //


#about {
    background-color: rgb(196, 200, 196);
}

.about {
    padding: 10vh 7vw;

    img {
        object-fit: cover;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .pic-me {
        @media (max-width: 481px) {
            padding-bottom: 7vh;
        }
    }

    .about-content {
        // font-family: 'Montserrat Alternates', sans-serif;
        text-align: center;

        @media (max-width: 480px) {
            padding: 7vh;
        }

        p {
            line-height: 1.8;
            margin-top: 1em;
        }

        a {
            text-decoration: none;
            color: map-get($colors, button);
        }
    }
}


////            ABOUT               /////



////            TOOLBOX               /////


#toolbox {
    background: linear-gradient(rgb(196, 200, 196), white);
    text-align: center;
}

.skill-logo {
    margin-top: 2.2rem;

    @media (max-width: 480px) {
        padding: 2vh 0;
        margin-top: 0;
    }

    text-align: center;
}

.language-item {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: darkgray 4px solid;
}

.toolbox span {
    text-shadow: 1px 0;
    color: black;
}




////      TOLLBOX       ////

////      PROJECTS    ////





#projects {
    // padding-bottom: 10vh;
    overflow-x: hidden;

    @media only screen and (max-width: 768px) {
        padding-bottom: 1em;
    }
}

#live_demo {
    color: rgb(168, 0, 0);
}

.project-content {
    //header of project section
    margin-bottom: 3em;
}

.project-showcase {
    @media only screen and (max-width: 992px) {
        padding-bottom: 5em;
    }

    padding-bottom: 2em;
}

.project-image {
    display: block;
    border-radius: 3px;
    min-width: 100%;
    height: auto;
    object-fit: cover;

    @media only screen and (max-width: 992px) {
        widht: 100%;
        object-fit: cover;
    }
}

.project-showcase img {
    -webkit-transition: 0.5s ease-out; //no crossbrowser difficulties
    -moz-transition: 0.5s ease-out;
    -o-transition: 0.5s ease-out;
    transition: 0.5s ease-out;
}

.project-image:hover {
    // transition: 0.5s ease-in;
    // filter: brightness(70%);
    cursor: pointer;
}


.project-caption {
    @media only screen and (min-width: 576px) {
        // margin-bottom: 5em;
    }

    a {
        color: black;
    }
}

.github-project:hover {
    color: rgb(168, 0, 0);
}

//  Modal   //


.close {
    span {
        font-size: 1.8rem;
        padding-right: 0.2em;
    }
}

#modal-event-title {
    padding-left: 45%;
}



.caption-content p,
h5,
h4 {
    text-align: center;
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev {
    filter: invert(100%);
}

.tickets-p {
    padding-top: 1rem;
    margin-bottom: 0px;
}

.cartify-p {
    padding-top: 1rem;
    margin-bottom: 0px;
}

.responsive {
    object-fit: scale-down;
    height: 480px;

}


//      PROJECTS    //

//      CONTACT     //




.fixed-bg-contact {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../img/backgrounds/pexels-photo-326576.jpeg");
    // min-height: 600px;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.contact {
    @media only screen and (min-width: 769px) {
        padding-top: 7em;
    }

    @media only screen and (max-width: 768px) and (min-width: 479px) {
        padding-top: 3em;
    }

    @media only screen and (max-width: 479px) and (min-width: 383px) {
        padding-top: 1em;
    }

    @media only screen and (max-width: 383px) {
        padding-top: 4em;
    }
}

.phone {
    border-radius: 50%;
    width: 75px;
    height: 80px;
    padding: 20px;
    background: #fff;
    border: 2px solid #666;
    color: #666;

    @media only screen and (max-width: 479px) {
        display: none !important;
    }
}

.get-social {
    @media only screen and (max-width: 382px) {
        display: none !important;
    }
}

.letsTalk {
    //word "social"
    padding-top: 7px;
    padding-bottom: 1px;
    padding-left: 10px;
}

#letstalk {
    //main heading
    font-size: 2.8rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-bottom: 5px solid black;
    line-height: 0.1em;
    margin: 2em 0 1em;
}

#letstalk span {
    //word background
    background: #fff;
    text-align: center;
    border-radius: 5px;
    padding-left: 10px;
}

#email {
    color: red;
    opacity: 1;
    float: right;
    padding: 5px 5px 10px;
}

#github {
    color: red;
    opacity: 1;
    float: right;
    padding: 5px 5px 10px;
}

#linkedin {
    color: red;
    opacity: 1;
    float: right;
    padding: 5px 5px 10px;
}

.contact-content {
    font-size: 1.6em;
    text-shadow: 1px 0;
    letter-spacing: 3px;
    line-height: 2em;
    color: white;
}


.fa,
.fab {
    opacity: 0.7;
}

// a[data-tool-tip] {
//     position: relative;
// }

// a[data-tool-tip]::before {
//     content:attr(data-tool-tip); //pics the data-tool-tip attribute
//     display:block;
//     position: absolute;
//     background-color:green;
//     padding:1em 1em;
//     color:white;
//     border-radius: 30px;
//     font-size:0.8em;
//     margin-bottom: 26px;
//     left:0;
//     white-space: nowrap;
//     transform: scale(0);
//     transition: 
//         transform ease-out 150ms,
//         bottom ease-out 150ms;
// }

// a[data-tool-tip]:hover::before {
//     transform: scale(1);
//     bottom:100%;
// }




//          CONTACT     //

//          FORM       //



#form {
    background-color: #f0f0f0;
    // font-family: 'Montserrat Alternates', sans-serif;
}

.error {
    list-style-type: none;
    font-size: 1.2rem;
}

.requirement {
    color: red;
}

.error {
    // font-family: 'Montserrat Alternates', sans-serif;
    color: red;
}

// input[type=number]::-webkit-inner-spin-button, 
// input[type=number]::-webkit-outer-spin-button { 
//   -webkit-appearance: none; 
//   margin: 0; 
// }   //gets rid of the up/down click button

input[type=number] {
    -moz-appearance: textfield;
}

.form {
    padding: 3em;

    input {
        background-color: #f0f0f0;
        border: none;
        border-radius: 0;
        border-bottom: solid green;
    }
}

input:focus {
    outline: none !important;
}


//          FORM            //

//          FOOTER          //

footer {
    background-color: black;

    i {
        font-size: 0.8em;

        @media only screen and (max-width: 368px) {
            font-size: 0.7em;
        }
    }

    a {
        @media only screen and (max-width: 368px) {
            font-size: 0.7em;
        }
    }
}