// M A S T E R//////////////////////////////////////////add media queries for better responsiveness views
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

$textColor: #2b303a;
$headerColor: #3d4f73;
// $primaryBtn: #f6c077;

$primaryText: #222831;

// main colors
$headerColors: #393e46;
$infoText: #ff342f;
$primaryBtn: #00a878;
$secondaryText: #f46036;

// $colors:#a80000;

@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates|Roboto+Slab|Aleo:700i|Aleo|Old+Standard+TT");
@import "./_animation";
@import "./_modal";
@import "./_header";
@import "./_hero";
@import "./_about";
@import "./_toolbox";
@import "./_contact";
@import "./_projects";
@import "./_form";
@import "./_footer";

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	color: $primaryText;
}

p {
	line-height: 1.6;
	font-size: 1.1em;
}

img {
	height: auto;
	max-width: 100%;
}

.section-header {
	font-family: "Roboto Slab", serif;
	font-weight: bolder;
	// color: #2b303a;
	color: $primaryText;
}

.animation-text {
	position: relative;
	white-space: nowrap;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background-color: currentColor;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 250ms ease-in;
	}

	&:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
}