@import url("https://fonts.googleapis.com/css?family=Lobster+Two|Montserrat+Alternates|Roboto+Slab");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  height: 100%;
  width: 100%;
}

h2 {
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 1.6;
}

img {
  height: auto;
  max-width: 100%;
}

.navbar {
  width: 100%;
  opacity: 0.95;
  background-color: #202020;
}

.navbar .navbar-brand {
  font-family: 'Lobster Two', cursive;
  font-size: 1.4rem;
  color: green;
  letter-spacing: 2px;
}

li.nav-item {
  line-height: 2rem;
}

.nav-link {
  color: green;
}

.nav-link:hover {
  color: #a80000;
}

.navbar-brand:hover {
  color: #a80000;
}

.navbar-toggler span {
  color: green;
  border: 0;
}

ul.navbar-nav {
  float: right;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(0, 0, 0, 0.15))), url("/static/img/backgrounds/white-notes.jpeg");
  background: linear-gradient(white, rgba(0, 0, 0, 0.15)), url("/static/img/backgrounds/white-notes.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.hero .btn-projects {
  background-color: green;
  border: transparent;
  margin-top: 1em;
  padding: 1em;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .hero .btn-projects {
    visibility: hidden;
  }
}

.hero .btn:hover {
  background-color: #a80000;
}

.hero-content {
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.hero-content .heading {
  color: #a80000;
  font-weight: bolder;
}

.hero-content h1 {
  margin: 30px 0 55px;
  font-weight: bolder;
}

@media (max-width: 480px) {
  .hero-content h2 {
    margin-top: 10em;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .hero-content h2 {
    margin-top: 6em;
  }
}

#about {
  background-color: #c4c8c4;
}

.about {
  padding: 10vh 7vw;
}

.about img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 481px) {
  .about .pic-me {
    padding-bottom: 7vh;
  }
}

.about .about-content {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
}

@media (max-width: 480px) {
  .about .about-content {
    padding: 7vh;
  }
}

.about .about-content h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
}

.about .about-content p {
  line-height: 1.8;
  margin-top: 1em;
}

.about .about-content a {
  text-decoration: none;
  color: #a80000;
}

#toolbox {
  background: -webkit-gradient(linear, left top, left bottom, from(#c4c8c4), to(white));
  background: linear-gradient(#c4c8c4, white);
  text-align: center;
}

.toolbox h3 {
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.skill-logo {
  margin-top: 2.2rem;
  text-align: center;
}

@media (max-width: 480px) {
  .skill-logo {
    padding: 2vh 0;
    margin-top: 0;
  }
}

.language-item {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: darkgray 4px solid;
}

.toolbox span {
  font-weight: bolder;
  text-shadow: 1px 0;
  color: black;
}

.projects {
  background-color: #fff;
  padding-bottom: 10vh;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .projects {
    padding-bottom: 1em;
  }
}

.project-content {
  margin-bottom: 3em;
}

.project-content h3 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
}

@media only screen and (max-width: 992px) {
  .project-showcase {
    padding-bottom: 1em;
  }
}

.project-showcase img {
  width: 100%;
  height: 85%;
  display: block;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  border: black;
  border-radius: 3px;
}

.project-showcase img {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.project-showcase:hover img {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  cursor: pointer;
}

.project-showcase:hover .text-content {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  opacity: 1;
}

.close span {
  font-size: 1.8rem;
  padding-right: 0.2em;
}

#modal-event-title {
  padding-left: 45%;
}

.caption-content p, h5, h4 {
  text-align: center;
}

.carousel-control-next {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.carousel-control-prev {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.fixed-bg-contact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.3))), url("../img/backgrounds/pexels-photo-326576.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("../img/backgrounds/pexels-photo-326576.jpeg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  padding-top: 7em;
}

.phone {
  border-radius: 50%;
  width: 75px;
  height: 80px;
  padding: 20px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
}

.letsTalk {
  padding-top: 7px;
  padding-bottom: 1px;
  padding-left: 10px;
}

#letstalk {
  font-size: 2.8rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  border-bottom: 5px solid black;
  line-height: 0.1em;
  margin: 2em 0 1em;
}

#letstalk span {
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding-left: 10px;
}

#github {
  color: red;
  opacity: 1;
  float: right;
  padding: 5px 10px 10px;
}

#linkedin {
  color: red;
  opacity: 1;
  float: right;
  padding: 5px 10px 10px;
}

.contact-content {
  text-align: left;
  font-size: 1.5em;
  text-shadow: 1px 0;
  letter-spacing: 3px;
  line-height: 2em;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-content span {
  color: orange;
}

.fa, .fab {
  opacity: 0.7;
}

#form {
  background-color: #f0f0f0;
  font-family: 'Montserrat Alternates', sans-serif;
}

.error {
  list-style-type: none;
  font-size: 1.2rem;
}

.requirement {
  color: red;
}

.error {
  font-family: 'Montserrat Alternates', sans-serif;
  color: red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form {
  padding: 3em;
}

.form input {
  background-color: #f0f0f0;
  border: none;
  border-radius: 0;
  border-bottom: solid green;
}

input:focus {
  outline: none !important;
}

footer {
  background-color: black;
}

footer p {
  color: white;
  font-size: 0.8em;
}
/*# sourceMappingURL=main.css.map */